<div class="header">
  <div class="header__links">
    <a href="#about" style="color:white">About</a>
    <a href="#technologies" style="color:white">Technologies</a>
    <a href="#experiences" style="color:white">Experiences</a>
  </div>
  <div class="header__icons">
    <a href="https://www.linkedin.com/in/reed-drew/" target="_blank">
      <img class="header__icons--linkedin" src="../../assets//icons/linkedin-square-icon.svg" />
    </a>
    <a href="https://www.facebook.com/drew.reed.5/" target="_blank">
      <img class="header__icons--facebook" src="../../assets//icons/facebook-app-round-icon.svg" />
    </a>
  </div>
</div>
