.header {
  background-color: #000;
  justify-content: space-between;
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-height: 5rem;
  position: sticky;
  top: 0;
  z-index: 9;

  &__links {
    color: white;
    // text-transform: capitalize;
    margin-left: 1rem;

    @media (max-width: 780px) {
      flex-direction: column;
      align-items: flex-start;

      .header__links-more {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .header__links-more-line {
          width: 30px;
          height: 3px;
          background-color: white;
          margin: 6px 0;
          transition: 0.4s;
        }

        &.open .line1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }

        &.open .line2 {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }

      a {
        margin-left: 0;
      }
    }

    a {
      text-decoration: none;
      margin-left: 0.5rem;
      font-size: clamp(0.75rem, 1.25vw, 1.5rem);
      text-transform: uppercase;

      &:not(:last-child):after {
        content: "|";
        margin-left: 5px;
        color: white;

        @media (max-width: 780px) {
          content: "";
        }
      }

      @media (max-width: 780px) {
        display: none;
      }
    }
  }

  &__icons {
    margin-right: 1rem;
    a {
      margin-right: 0.5rem;
    }

    svg {
      height: clamp(1.75rem, 2.25rem, 2.5rem);
    }
  }
}
