<div class="main">
  <div class="main__intro">
    <h1 class="main__intro--name">Hello, I am <span>Drew</span></h1>
    <div class="main__intro--title">I am a <span>Junior</span> Full-Stack Developer | Software Engineer</div>
    <br />

    <hr>
    <h2>About</h2>
    <div class="main__intro--bio">
      <div class="main__intro--bio-paragraph">
        After dedicating a decade to emergency medical services (EMS), spanning diverse roles from bustling urban environments to helicopter operations and rural settings, including urgent care, I felt the urge for a new challenge. Inspired by a friend's transition from EMS to software development, I delved into the world of coding and found it immensely enjoyable.
        <br />
        <br />
        The thrill of encountering a problem, getting stuck, and then successfully resolving it captivated me. Motivated to pursue a new career path, I returned to school and earned my Associates in Computer Science. Subsequently, I enrolled in an online coding boot camp specializing in Java, Vue.js, and Spring.
        <br />
        <br />
        I discovered a particular affinity for object-oriented programming—finding satisfaction in crafting individual pieces of code that seamlessly come together. Since March 2022, I've been thriving as a junior full-stack developer, engaging with technologies such as HTML, CSS, JavaScript, ASP.NET, Vue.js, Classic ASP, VBScript, SQL, and Razor.
        <br />
        <br />
        As I embark on the next chapter of my career, I am eager to continue growing as a professional full-stack software developer.
      </div>
      <div class="main__intro--bio-languages">
        <img src="../../assets/images/asp.png" alt="asp">
        <img src="../../assets/images/css.png" alt="css">
        <img src="../../assets/images/html.png" alt="html">
        <img src="../../assets/images/java.png" alt="java">
        <img src="../../assets/images/javascript.png" alt="javascript">
        <img src="../../assets/images/sql.png" alt="sql">
      </div>
    </div>
  </div>
  <!-- <div class="main__projects">
    <div class="main__projects__title">Below are some of my recent projects I have been practicing building.</div>
  </div> -->
</div>
