<div class="main">
    <div class="main--main">
      <h1 class="main--name">Hello, I am <span>Drew</span></h1>
      <div class="main--title">
        I am a <span>Junior</span> Full-Stack Developer | Software Engineer
      </div>
      <div class="main--resume">
        <a href="../../assets/pdf/Resume-Drew-Reed.pdf" target="_blank"
          >See My <span>Resume</span> Here</a
        >
      </div>
    </div>
    <br />
    <hr  id="about"/>
    <app-about></app-about>
    <hr id="technologies"/>
    <app-technologies></app-technologies>
    <hr id="experiences"/>
    <app-experiences></app-experiences>
    <hr id="contact"/>
    <app-contact></app-contact>
</div>
