.main {
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%;
  padding: 0 clamp(2%, 10%, 15%);

  &--main {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--name {
    font-size: clamp(2rem, 4vw, 4rem);
  }

  &--title,
  &--resume {
    font-size: clamp(1rem, 1.5vw, 1.5rem);

    span {
      color: rgba(204, 51, 81, 0.5);
    }

    a {
      text-decoration: none;
      color: white;
      border-bottom: 1px solid;
      border-color: rgba(204, 51, 81, 0.5);
    }

    a:hover {
      color: rgba(204, 51, 81, 0.5);
      border-color: white;

      span {
        color: white;
      }
    }
  }

  &__projects {
    margin-top: 5rem;

    &__title {
      font-size: clamp(1rem, 1.5vw, 1.5rem);
    }
  }

  hr {
    color: rgba(204, 51, 81, 0.95);
  }
}
