<div class="main">
  <div class="main__intro">
    <div class="main__intro--name">Drew Reed</div>
    <div class="main__intro--title">Junior Full-Stack Developer | Software Engineer</div>
    <br />
    <div class="main__intro--bio">
      After dedicating a decade to Emergency Medical Services (EMS), spanning diverse roles from bustling urban environments to helicopter operations and rural settings, including urgent care, I felt the urge for a new challenge. Inspired by a friend's transition from EMS to software development, I delved into the world of coding and found it immensely enjoyable.
      <br/>
      <br/>
      The thrill of encountering a problem, getting stuck, and then successfully resolving it captivated me. Motivated to pursue a new career path, I returned to school and earned my associates in computer science. Subsequently, I enrolled in an online coding bootcamp specializing in Java, Vue.js, and Spring.
      <br/>
      <br/>
      I discovered a particular affinity for object-oriented programming—finding satisfaction in crafting individual pieces of code that seamlessly come together. Since March 2022, I've been thriving as a Junior Full Stack Developer, engaging with technologies such as HTML, CSS, JavaScript, ASP.NET, Vue.js, Classic ASP, VBScript, and Razor.
      <br/>
      <br/>
      As I embark on the next chapter of my career, I am eager to continue growing as a professional Full-Stack Software Developer.</div>
  </div>
  <div class="main__projects">
    <div class="main__projects__title">Below are some of my recent projects I have been practicing building.</div>
  </div>
</div>
