<h2>About</h2>
<div class="about">
  After dedicating a decade to emergency medical services (EMS), spanning
  diverse roles from bustling urban environments to helicopter operations
  and rural settings, including urgent care, I felt the urge for a new
  challenge. Inspired by a friend's transition from EMS to software
  development, I delved into the world of coding and found it immensely
  enjoyable.
  <br />
  <br />
  The thrill of encountering a problem, getting stuck, and then successfully
  resolving it captivated me. Motivated to pursue a new career path, I
  returned to school and earned my Associates in Computer Science.
  Subsequently, I enrolled in an online coding boot camp specializing in
  Java, Vue.js, and Spring.
  <br />
  <br />
  I discovered a particular affinity for object-oriented programming—finding
  satisfaction in crafting individual pieces of code that seamlessly come
  together. Since March 2022, I've been thriving as a junior full-stack
  developer, engaging with technologies professionally such as HTML, CSS, JavaScript,
  ASP.NET, Vue.js, Classic ASP, VBScript, and SQL. I have also continued my education of
  Java and Spring.
  <br />
  <br />
  As I embark on the next chapter of my career, I am eager to continue
  growing as a professional full-stack software developer.
</div>
