<h2>About</h2>
<div class="about">
  TLDR: Spent 10+ years in EMS. Have an associate in Computer Science, attended a bootcamp, and have just shy two years experience.
  Working as a Product Development Manager while continuing to perfect my programming and searching for my next job in programming!
  <br />
  <br />
  After dedicating a decade to emergency medical services (EMS), spanning diverse roles from bustling urban environments
  to helicopter operations and rural settings, including urgent care, I felt the urge for a new challenge. Inspired by a
  friend's transition from EMS to software development, I delved into the world of coding and found it immensely
  enjoyable.
  <br />
  <br />
  The thrill of encountering a problem, getting stuck, and then successfully resolving it captivated me. Motivated to
  pursue a new career path, I returned to school and earned my Associates in Computer Science. Subsequently, I enrolled
  in an online coding boot camp specializing in Java, Vue.js, and Spring.
  <br />
  <br />
  I discovered a particular affinity for object-oriented programming—finding satisfaction in crafting individual pieces
  of code that seamlessly come together. Since March 2022, I've been thriving as a junior full-stack developer, engaging
  with technologies professionally such as HTML, CSS, JavaScript, ASP.NET, Vue.js, Classic ASP, VBScript, and SQL. I
  have also continued my education in Java and Spring.
  <br />
  <br />
  As of January 8th, following my departure from Spherexx, I have embarked on a journey to expand my skills into the
  .NET ecosystem, recognizing Tulsa as a prominent .NET market. I am currently immersed in learning .NET and Angular,
  eager to further diversify my skill set and contribute to innovative projects in this dynamic field.
  <br />
  <br />
  As I embark on the next chapter of my career, I am enthusiastic about the opportunities to continue growing as a
  professional full-stack software developer, leveraging my diverse background and newfound expertise in .NET and
  Angular.
</div>
