.about {
  font-size: clamp(0.875rem, 1.125vw, 1.125rem);
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  flex-grow: 1;
  justify-content: center;
  text-align: left;
}

h2:before {
  left: 2rem;
  width: 4rem;
}
