.experiences {
  text-align: left;
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: clamp(0.875rem, 1.125vw, 1.125rem);

  &__education,
  &__work {
    max-width: 45%;

    @media (max-width: 670px) {
      max-width: 100%;
    }

    &-job,
    &-school {
      border-bottom: 1px solid;
      border-color: rgba(204, 51, 81, 0.5);
    }
  }

  li {
    font-size: clamp(0.875rem, 1.125vw, 1.125rem);
  }
}

h2:before {
  padding-top: 40px;
}
