<h2>Experiences</h2>
<div class="experiences">
  <div class="experiences__work">
    <h3 style="text-align: center;">Work</h3>
    <div class="experiences__work-job">
      <span>When:</span> March 2022 - January 2024 <br />
      <span>Where:</span> Spherexx Tulsa, OK <br />
      <span>Title:</span> Full-Stack Software Developer/Web Developer <br />
      <span>What: </span><br />

      <ul>
        <li>
          Developed and maintained front-end and back-end features using
          ASP.NET, CSS, HTML, JavaScript,VBScript, Classic ASP, and Vue.
        </li>
        <li>
          Collaborated on database management tasks using SQL and SMSS.
        </li>
        <li>
          Constructed new web pages and updated existing ones based on
          customer requirements.
        </li>
        <li>
          Implemented new features to enhance website functionality and user
          experience.
        </li>
        <li>
          Integrated and customized CMS components to seamlessly connect
          with the website.
        </li>
        <li>
          Conducted code reviews, identifying and removing hardcoded
          elements for improved flexibility.
        </li>
        <li>
          Optimized web page performance, significantly enhancing loading
          speed.
        </li>
        <li>
          Analyzed and refactored legacy code to enhance dynamism and
          maintainability saving 2 hours per new customer.
        </li>
        <li>
          Collaborated with cross-functional teams to meet project goals and
          deadlines.
        </li>
        <li>
          Ensured website compliance with ADA regulations by implementing
          accessibility best practices,referencing the a11y project
          guidelines for inclusive design and development.
        </li>
      </ul>
    </div>
    <div class="experiences__work-job">
      <span>When:</span> March 2010 - March 2022 <br />
      <span>Where:</span> EMSA, Tulsa Life Flight, Mercy Regional EMS <br />
      <span>Title:</span> Flight Paramedic <br />
      <span>What: </span><br />
      <ul>
        <li>
          Applied patient care protocols systematically, adapting as needed for optimal outcomes.
        </li>
        <li>
          Engaged in ongoing professional development through continuous education to stay current withindustry standards and advancements.
        </li>
      </ul>
    </div>
  </div>
  <div class="experiences__education">
    <h3 style="text-align: center;">Education</h3>
    <div class="experiences__education-school">
      <span>When:</span> June 2018 - December 2021 <br />
      <span>Where:</span> Roger's State University <br />
      <span>Title:</span> Associate Degree in Computer Science <br />
    </div>
    <div class="experiences__education-school">
      <span>When:</span> March 2022 - June 2022 <br />
      <span>Where:</span> Tech Elevator <br />
      <span>Title:</span> Online Coding Bootcamp <br />
      <span>What: </span><br />
      <ul>
        <li>
          Full-stack software development bootcamp with focus on Java, HTML, CSS, JavaScript, Vue.JS, SQL
        </li>
      </ul>
    </div>
  </div>
</div>
