<h2>Projects</h2>
<div class="projects">
  <div class="projects-weather project">
    <img src="../../assets/images/WeatherApp.png" />
    <div class="project__text">
      <div class="project__text-title">Weather App</div>
      <div class="project__text-about">
        A simple weather app made using Angular and OpenWeatherMap's API
        <br />
        Hosted on AWS and using Google Tag Manager
      </div>
      <div class="project__text-link">
        <a href="https://main.d269wosak4p9cl.amplifyapp.com/">Check It Out</a>
      </div>
    </div>
  </div>
  <hr />
  <div class="projects-todo project">
    <img src="../../assets/images/ToDoApp.png" />
    <div class="project__text">
      <div class="project__text-title">ToDo App</div>
      <div class="project__text-about">
        A simple app made using Angular. Simply save 'tasks' in local storage.
        <br />
        Hosted on AWS
      </div>
      <div class="project__text-link">
        <a href="https://origin.d2it9pprvr24b9.amplifyapp.com/">Check It Out</a>
      </div>
    </div>
  </div>
</div>
