.contact {

  &-message {
    max-width: clamp(80%, 50%, 50%);
    margin: 2rem auto;
  }

  &__input {

    input,
    textarea {
      width: clamp(15rem, 20rem, 25rem);
      background-color: rgba(204, 51, 81, 0.25);
      border: none;
      padding: 0.25rem;
      max-width: 100%;
    }

    input {
      margin-bottom: 1.5rem
    }
  }

  button {
    margin-top: 1.5rem;
    padding: 0.25rem 0.75rem;
    border-color: rgba(204, 51, 81, 0.5);

    &:hover {
      color: rgba(204, 51, 81, 0.75);
    }
  }
}
