<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Search for Weather:</h3>
      <form
        [formGroup]="weatherSearchForm"
        (ngSubmit)="sendToOpenWeather(weatherSearchForm.value)"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName="location"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md">
            Search for the weather
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6" *ngIf="weatherData">
      <h3 class="text-center my-4">Weather Details:</h3>
      <p class="text-center">
        Current weather conditions: {{ weatherData?.weather[0]?.description }}.
      </p>
      <p class="text-center">
        Temperature in Degrees Celsius: {{ weatherData?.main?.temp }}
      </p>
      <p class="text-center">
        Temperature in Degrees Fahrenheit: {{ weatherData?.main?.temp_max }}
      </p>
      <p class="text-center">
        Feels like in Degrees Celsius: {{ weatherData?.main?.feels_like }}
      </p>
      <p class="text-center">
        Feels like in Degrees Fahrenheit: {{ weatherData?.main?.feels_like }}
      </p>
      <p class="text-center">
        Location Searched: {{ weatherData?.name }}, {{ weatherData?.sys?.country }}.
      </p>
    </div>
</div>
<div id="openweathermap-widget-11"></div>
<script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 11,cityid: '4537641',appid: 'd3aae32fea1193504888da921fe7538',units: 'imperial',containerid: 'openweathermap-widget-11',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
